.return_btn {
    margin-top: 20px;
    padding-left: 120px;
    font-size: 40px;
    color: #FF9B00;
    background: none;
    border:none;
}

.beep-box{
    margin-left: 1%;
}

.reduced-image-container img {
    max-width: none;
    max-height: none;
    width: 250px;
}

.response_title {
    padding-left: 125px;
    opacity: 0.3;
}

#noclick-beep div{
    cursor: default;
}