.card {
    min-font-size: 20vw;
    margin-left: 100px;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.2);
}

.card-title {
    font-size: 15px;
}

.card-subtitle {
    font-size: 14px;
}

.card-text {
    font-size: 20px;
}

.card-text img {
    max-width: 150%;
    width: 150%;
    height: auto;
    margin-right: 10px;
}


.img-fluid {
    max-width: 25vw;
    max-height: 20vh;
    display: block;
}

.interactions div button {
    margin-bottom: -10px;
    margin-right: 0px !important;
}

.interactions {
    flex-wrap: wrap;
}

.loaded-beep {
    min-width: 20vw; max-width: 50vw; display: none;
}

.loaded-beep:hover {
    cursor: pointer;
}

.loading-beep {
    max-width: 50vw;
    min-width: 20vw;
}

.loading-beep button {
    border: none;
}

.interactions .bi {
    font-size: 1.5vw;
}

.interactions .bi:hover {
    color: #969696;
    transition: 0.3s;
}


.like .bi-heart-fill {
    color: #e74c3c;
}

.boost .bi-rocket-takeoff-fill {
    color: rgb(255, 155, 0);
}

.like .bi-heart-fill:hover {
    color: #c94536;
}

.boost .bi-rocket-takeoff-fill:hover {
    color: rgb(215, 132, 0);
}


.interactions div {
    width: 40px;
    max-width: 50px;
    margin: 10px;
    font-size: 1vw;
    display: block;
    text-align: center;
}

@media screen and (max-device-width: 890px) {



    .card-text img {
        max-width: 150%;
        width: 100%;
        height: auto;
        margin-right: 10px;
    }

    .interactions .bi {
        font-size: 3vw;
    }

    .interactions div {
        font-size: 2vw;
    }

    .interactions div button {
        padding: 0px 0px 6px;
    }

    .card-title {
        font-size: 2.8vw;
    }

    .card-subtitle {
        font-size: 2.6vw;
    }

    .card-text {
        font-size: 3vw;
    }
}

@media screen and (max-device-width: 660px) {

    .reduced-image-container img {
        height: 10vh;
        object-fit: contain;
    }

    .removable {
        display: none;
    }

    .loading-beep {
        max-width: 71%;
        width: 70% !important;
    }

    .loaded-beep {
        max-width: 71%;
        width: 70% !important;
    }
}